@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=PT+Serif&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Header and navigation*/
/*bug 2: tried to style logo. couldn't position divs correctly to show border corners. fixed as below*/
#rectangle {
    width: 263px;
    height: 67px;
    float: left;
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #151527;
    border: 1px solid white;
}

#ellipse {
    width: 263px;
    height: 67px;
    border: 1px solid #151527;
    border-radius: 15px;
    position: absolute;
    top: 10px;
    left: 10px;
}

header {
    height: 90px;
    background-color: #151527;
}

#logo {
    text-decoration: none;
    color: white;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: 90%;
    text-align: center;
    font-family: 'PT Serif', serif;
}

#nav-menu {
    float: right;
}

#nav-menu, #logo {
    line-height: 66px;
}

#nav-menu > li {
    display: inline-block;
    margin-right: 30px;
    padding-top: 12px; 
    font-family: 'PT Serif', serif;
}

#nav-menu a {
    text-decoration: none;
    /*color: #999CA1;*/
    color: white;
    font-size: 110%;
}

#nav-menu li:hover {
    transform: scale(1.2);
    transition: transform 1s;
}
/*bug 1: li would not change colour when hovering over them. fixed issue below*/
#nav-menu li:hover a {
    color: white;
}

.active {
    transform: scale(1.2);
    /*want to change the colour of the font for the live page*/
}



/* main image , why loop up*/

#main-image {
    background: url(../images/main-image-2.jpeg) center center / cover no-repeat fixed;
    height: 700px;
    margin: 0;
    background-color: #151527;
}

#main-image > h2 {
    font-family: 'PT Serif', serif;
    font-size: 180%;
    color: white;
    letter-spacing: 5px;
    text-align: center;
    position: relative;
    top: 50px;
}

#reason-1 {
    width: 400px;
    height: 150px;
    /*background-color: rgba(72, 81, 98, 0.5);*/
    position: relative;
    top: 150px;
    left: 80px;
    border-radius: 15px;
    color: white;
    text-align: center;
    line-height: 50px;
}

#reason-2 {
    width: 400px;
    height: 150px;
    /*background-color: rgba(72, 81, 98, 0.5);*/
    position: absolute;
    left: 400px;
    bottom: 150px;
    border-radius: 15px;
    color: white;
    text-align: center;
    line-height: 50px;
}
/*Don't forget to fix the positioning*/
#reason-3 {
    width: 400px;
    height: 150px;
    /*background-color: rgba(72, 81, 98, 0.5);*/
    position: absolute;
    bottom: 400px;
    left: 700px;
    border-radius: 15px;
    color: white;
    text-align: center;
    line-height: 50px;
}

#reason-4 {
    width: 400px;
    height: 150px;
    /*background-color: rgba(72, 81, 98, 0.5);*/
    position: absolute;
    left: 1000px;
    bottom: 150px;
    border-radius: 15px;
    /*color: #999CA1;*/
    color: white;
    text-align: center;
    line-height: 50px;
}

#reason-1 p {
    font-family: 'PT Sans', sans-serif;
    line-height: 30px;
}

#reason-2 p {
    font-family: 'PT Sans', sans-serif;
    line-height: 30px;
}

#reason-3 p {
    font-family: 'PT Sans', sans-serif;
    line-height: 30px;
}

div > h3 {
    border-bottom: 1px solid white;
}

/*Meet up section*/

#meet-up-space {
    height: 400px;
    background-color: white;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

#meet-up-space > h2 {
    font-family: 'PT Serif', serif;
    font-size: 180%;
    color:black;
    letter-spacing: 5px;
    text-align: center;
    display: block;
    margin-bottom: 50px;
}

#lower {
    display: block;
}

.spot-1 {
    width: 300px;
    height: 300px;
    background: url(../images/meet-up-spot-1.jpeg) center center / cover no-repeat fixed;
    background-size: 100%;
    background-color: #151527;
    /*border: 1px solid white;*/
    display: inline-block;
    border-radius: 50%;
    margin: 0 50px;
}

.inner-circle-1 {
    width: 200px;
    height: 200px;
    /*border: 1px solid white;*/
    position: relative;
    top: 50px;
    left: 50px;
    border-radius: 50%;
    background-color: white;
}

.inner-circle-1 > p {
    text-align: center;
    position: relative;
    top: 50px;
    font-family: 'PT Sans', sans-serif;
}

/*footer section social links*/

footer {
    height: 90px;
    background-color: #151527;
    text-align: center;
    vertical-align: auto;
}

#social-links {
    padding-top: 35px;
}

#social-links li {
    display: inline-block;
    margin: 0 60px;
    font-size: 150%;
}

#social-links a {
    text-decoration: none;
    color: white;
}